extends layouts/main.pug


block append content

    - const check = true
    - const title = "ABC"
    - const arr = ["ITEM 1", "ITEM 2"]

    h1 #{title}
    h2 #{fromRoute}


    if check
        input(type='checkbox' checked)
        input(type='text' disabled)
    else
        input(type='checkbox' checked=false)
        input(type='text' disabled=false)

    div.ff#ab(style='color:red') a
        div b
            div
                input(type='text' value=(check ? 'TRUE' : 'FALSE'))
                label Conditional Attribute Value
            p c
            a(href=title) HELLO

    hr

    if check
        h1 CONDITION IS TRUE!
    else
        h1 CONDITION IS FALSE!

    each val,key in arr
        li #{key}, #{val}

block append footer
    h1 FOOTER
